body{
    background: #dddddd;
    margin: 24px;
}

.timer{
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
    margin-left: 270px;
    margin-top: 90px;
    transition: width 0.8s ease-in-out;
}

.btn{
    background: #dddddd;
    padding-left: 150px;
    border-radius: 50px;
    transition: width 0.8s ease-in-out;
}

.timer__part {
    font-size: 200px;
    font-weight: bold;
    transition: width 0.8s ease-in-out;
}

.timer__btn{
    width: 100px;
    height: 100px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: purple;
    cursor: pointer;
    transition: width 0.8s ease-in-out;
}

.timer__btn--start{
    background: #00b84c;
}

.timer__btn--stop{
    background: #ff0256;
}


  
  /* Media query for smaller screens (e.g., mobile) */
  @media only screen and (max-width: 600px) {
    
    .timer{
        font-family: sans-serif;
        display: inline-block;
        padding: 24px 32px;
        border-radius: 30px;
        background: white;
        margin-left: 100px;
        margin-top: 200px;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn{
        width: 50px;
        height: 50px;
        margin-left: 16px;
        border-radius: 50%;
        border: none;
        color: white;
        background: purple;
        cursor: pointer;
        transition: width 0.8s ease-in-out;
    }

    .btn{
        background: #dddddd;
        padding-left: 50px;
        border-radius: 25px;
        transition: width 0.8s ease-in-out;
    }

    .timer__part {
        font-size: 90px;
        font-weight: bold;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn--start{
        background: #00b84c;
    }
    
    .timer__btn--stop{
        background: #ff0256;
    }
  }
  
/* Medium devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    
    .timer{
        font-family: sans-serif;
        display: inline-block;
        padding: 24px 32px;
        border-radius: 30px;
        background: white;
        margin-left: 100px;
        margin-top: 200px;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn{
        width: 70px;
        height: 70px;
        margin-left: 16px;
        border-radius: 50%;
        border: none;
        color: white;
        background: purple;
        cursor: pointer;
        transition: width 0.8s ease-in-out;
    }

    .btn{
        background: #dddddd;
        padding-left: 50px;
        border-radius: 25px;
        transition: width 0.8s ease-in-out;
    }

    .timer__part {
        font-size: 150px;
        font-weight: bold;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn--start{
        background: #00b84c;
    }
    
    .timer__btn--stop{
        background: #ff0256;
    }
  }
  

  /* Large devices (laptops, desktops) */
@media only screen and (min-width: 901px) {
    
    .timer{
        font-family: sans-serif;
        display: inline-block;
        padding: 24px 32px;
        border-radius: 30px;
        background: white;
        margin-left: 290px;
        margin-top: 110px;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn{
        width: 70px;
        height: 70px;
        margin-left: 90px;
        border-radius: 50%;
        border: none;
        color: white;
        background: purple;
        cursor: pointer;
        transition: width 0.8s ease-in-out;
    }

    .btn{
        background: #dddddd;
        padding-left: 50px;
        border-radius: 25px;
        transition: width 0.8s ease-in-out;
    }

    .timer__part {
        font-size: 200px;
        font-weight: bold;
        transition: width 0.8s ease-in-out;
    }

    .timer__btn--start{
        background: #00b84c;
    }
    
    .timer__btn--stop{
        background: #ff0256;
    }
  }
